.header-post {
  display: flex;
  flex-direction: row;
  height: 62px;
}

.header-combobox-photo {
  border-radius: 23px;
  color: #FFFFFF;
  height: 53.37px;
  width: 53.37px;
  margin-top: 16px;
  margin-left: 12.14px;
}

.header-combobox {
  display: flex;
  flex-direction: row;
  justify-content:space-between; 

}
.header-close {
  display: flex;
  margin: 21px;
  flex-direction: row;
  color:#78a1b6;

}

.combobox-grid-item {
  background-color: #fff;
  display: grid;
  height: 280px;
  width: 520px;
  margin-left: 65vh;
  margin-top: 33vh;
}

.body-combobox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 16px;
}

.txt-combobox-name {
  color: #78A1B6;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 27px 8.49px;
  text-decoration: none;
}

.txt-date {
  color: #90A4A8;
  font-family: 'Poppins', sans-serif;
  font-size: 9px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}

 .txt-combobox-body {
  color: #696969;
  font-family: 'Poppins', sans-serif;
  font-size:   16px;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
  /* propiedades */
  }

.txt-post-footer {
  color: #78A1B6;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 24px;
  width: 18px;
  text-align: center;
  margin-left: 1.5px;
  text-decoration: none;
}


.footer-combobox {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.footer-post-icons {
  color: #78A1B6;
  display: flex;
  flex-direction: row;
  height: 18px;
  width: 120px;
}

.footer-heart-icons {
  color: #78A1B6;
  display: flex;
  flex-direction: row;
}

.footer-social-icons {
  color: #78A1B6;
  display: flex;
  flex-direction: row;
}

.footer-message-icons {
  color: #78A1B6;
  display: flex;
  flex-direction: row;
}

.post-header {
  flex-direction: column;
  height: 100vh;
  width: 65px;
}
.button-combobox {
  width: 97px;
  height: 36px;
  border-style: none;
  border-radius: 4px;
  background-color: #0bc1fb;
  color:white;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.overlay {
    position: fixed; /* Sit on top of the page content */
   /* display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

@media (max-width: 600px) {
  .post {
    height: 208px;
    width: 320px;
  }

}