.header {
  display: flex;
  background-color: black;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.header-box {
  display: flex;
}

.header-box-footer {
display: flex;
}

.header-icon {
  color: #FFFFFF;
  height: 20px;
  margin: 16px 11px;
  width: 20px;
}

.header-photo {
  border-radius: 10px;
  color: #FFFFFF;
  height: 20px;
  margin: 16px 11px;
  width: 20px;
}

.post {
  position:absolute;
}

body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
  margin: auto;
  position: relative;
  width: 100%;
}

.profile-menu {
  background: black;
  border-radius: 0 0 8px 8px;  
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: all .4s ease-out;
}

.menu-header {
  border-bottom-color: #3c3c3c;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  height: 64px;
  padding-left: 16px;
  padding-top: 8px;
  width: 100%;
}

.txt-menu-name {
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.txt-menu-body {
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 24px;
  line-height: 21px;
  text-decoration: none;
  width: 132px;
}

.txt-menu-alias {
  color: #78A1B6;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;  display: block;
  text-decoration: none;
}

.menu-body {
  border-bottom-color: #3c3c3c;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #FFFFFF;
  display: flex;
  font-style: normal;
  height: 48px;
  padding-left: 18.3px;
  padding: 12px;
  width: 320px;
}

.menu-footer {
  color: #FFFFFF;
  display: flex;
  font-style: normal;
  height: 52px;
  padding-left: 18.3px;
  padding: 12px;
  width: 320px;
}

.menu-icon-body {
  color: #FFFFFF;
  height: 20px;
  width: 20px;
}

.menu-icon-footer {
  color: #FFFFFF;
  height: 20px;
  width: 20px;
}

.menu-icon {
  color: #FFFFFF;
  height: 20px;
  width: 20px;
}

@media (min-width: 600px) {
  .header {
    flex-direction: column;
    height: 100vh;
    width: 65px;
  }

  .header-box {
    flex-direction: column;
  }

  .header-box-footer {
    flex-direction: column;
  }

  .header-icon {
    margin: 14px 24px;
  }

  .user-menu-container {
    position: relative;
  }

  .profile-menu {
    background: black;
    border-radius: 8px;    
    bottom: 0;
    flex-direction: column;
    left: calc(100% + 8px);
    right: initial;
    top: initial;
    transition: all .4s ease-out;
    width: 320px;
  }
}
